.info {
    text-align: left;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #f5f5f5; /* Off-white */
}

code.language-cpp {
    color: #f5f5f5; /* Off-white */
}

#readme {
    text-align: left;
}

.btn-es {
    background-color: #cc5500; /* Burnt orange */
    color: #f5f5f5; /* Off-white */
}

.app_body {
    color: #f5f5f5; /* Off-white */
    background-color: #fff; /* White */
}

.app_column {
    align-items: center;
    justify-content: center;
    color: #f5f5f5; /* Off-white */
    background-color: #505050; /* Gray */
    padding: 10px;
    border: solid;
    border-radius: 15px;
    border-color: #cc5500; /* Burnt orange */
    margin: 5px;
}

.nested_list {
    justify-content: left;
    align-items: left;
    margin: 20px;
    text-align: left;
}

.daisystyle {
    color: #f5f5f5; /* Off-white */
    background-color: #505050; /* Gray */
    padding: 10px;
    border: solid;
    border-radius: 15px;
    border-color: #cc5500; /* Burnt orange */
    margin: 5px;
}
