.info {
    text-align: left;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #444444; /* Deep charcoal */
}

code.language-cpp {
    color: #ffcc00; /* Vibrant yellow */
}

#readme {
    text-align: left;
}

.btn-es {
    background-color: #ff4500; /* Bright fiery orange */
    color: #ffffff; /* Pure white */
}

.app_body {
    color: #ffffff; /* Pure white */
    background-color: #1e1e1e; /* Rich black */
}

.app_column {
    align-items: center;
    justify-content: center;
    color: #ffffff; /* Pure white */
    background-color: #222222; /* Dark slate */
    padding: 10px;
    border: solid;
    border-radius: 15px;
    border-color: #ff4500; /* Bright fiery orange */
    margin: 5px;
}

.nested_list {
    justify-content: left;
    align-items: left;
    margin: 20px;
    text-align: left;
}

.daisystyle {
    color: #ffffff; /* Pure white */
    background-color: #333333; /* Deep gray */
    padding: 10px;
    border: solid;
    border-radius: 15px;
    border-color: #ff4500; /* Bright fiery orange */
    margin: 5px;
}
